/* Saint Léon'Art
 *
 * /sass/components/breadcrumb.scss - styles for breadcrumb in header
 *
 * coded by Anne
 * started at 24/10/2017
 */

 .breadcrumb {
     width: 87.5%;
     margin: 1em auto 0;
     padding: 0em 0 2em;
     color: white;
     &__link {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        transition: color .3s ease;
     }
     &__link:hover {
         color: lighten($lightColor, 10%);
     }
     &__link.home {
         margin-right: 2%;
         display: inline-block;
         width: 27px;
         height: 27px;
         position: relative;
         img {
             display: inline-block;
             width: 27px;
             height: 27px;
             position: absolute;
             top: 4px;
             left: 0;
         }
     }
     &__active {
        color: $lightColor;
     }
 }

.breadcrumb > span {
    display: inline-block;
    margin-bottom: 1.2em;
}
