/* Saint Léon'Art
 *
 * /sass/components/card.scss - styles for cards
 *
 * coded by Anne
 * started at 21/10/2017
 */

 .card {
     width: 100%;
     margin-bottom: 2.5em;
     text-decoration: none;
     color: $textColor;
     &__figure {
         width: 100%;
         height: 17.5em;
         overflow: hidden;
         margin-bottom: 1em;
         img {
            max-height: 120%;
            max-width: 120%;
         }
     }
     &__title {
         position: relative;
         margin-bottom: .5em;
         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            font-family: $titles;
            font-size: $title;
            z-index: 2;
         }
     }
     &__subtitle {
         position: relative;
         margin-bottom: .5em;
         font-family: $titles;
         font-size: $sub2;

         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            z-index: 2;
         }
     }
     &__category {
        text-transform: capitalize;
     }
     > p {
         line-height: 1.5;
     }
 }

@media screen and (min-width:425px) {
    .card {
        width: 90%;
    }
}

@media screen and (min-width:525px) {
    .card {
        width: 80%;
    }
}

@media screen and (min-width:625px) {
    .card {
        width: 45%;

        &__figure {
          height: 13.125em;
        }
    }
}

@media screen and (min-width: 768px) {
    .card {
        &__figure {
            height: 14.5em;
        }
    }
}

@media screen and (min-width: 868px) {
    .card {
        &__figure {
            height: 16.5em;
        }
    }
}

@media screen and (min-width: 981px) {
    .card {
        &__figure {
            height: 17.87em;
        }
    }
}

@media screen and (min-width:1224px) {
    .card {
        &__figure {
            height: 22.37em;
        }
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 22%;

        &__figure {
            height: 12.81em;
        }
    }
}

@media screen and (min-width:1640px) {
    .program > .card.parking:nth-child(3n+2) {
      margin-right: 3.5%;
      margin-left: 3.5%;
    }
}

@media screen and (min-width:2560px) {
    .card {
        &__figure {
            height: 14em;
        }
    }
}
