/* Saint Léon'Art
 *
 * /sass/components/card.scss - styles for cards
 *
 * coded by Anne
 * started at 21/10/2017
 */

 .card {
     width: 100%;
     margin-bottom: 2.5em;
     &__figure {
         width: 100%;
         height: 17.5em;
         overflow: hidden;
         margin-bottom: 1em;
         img {
            max-height: 120%;
            max-width: 120%;
         }
     }
     &__title {
         position: relative;
         margin-bottom: .5em;
         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            font-family: $titles;
            font-size: $title;
            z-index: 2;
         }
     }
     &__subtitle {
         position: relative;
         margin-bottom: .5em;
         font-family: $titles;
         font-size: $sub2;

         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            z-index: 2;
         }
     }
     &__category {
        text-transform: capitalize;
     }
     > p {
         line-height: 1.5;
     }
 }
