/* Saint Léon'Art
 *
 * /sass/components/card.scss - styles for cards
 *
 * coded by Anne
 * started at 21/10/2017
 */

 .card {
     width: 100%;
     margin-bottom: 2.5em;
     text-decoration: none;
     display: block;
     color: $textColor;
     &__figure {
         width: 100%;
         height: 17.5em;
         overflow: hidden;
         margin-bottom: 1em;
         img {
            max-height: 120%;
            max-width: 120%;
         }
     }
     &__title {
         position: relative;
         margin-bottom: .5em;
         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            font-family: $titles;
            font-size: $title;
            z-index: 2;
         }
     }
     &__subtitle {
         position: relative;
         margin-bottom: .5em;
         font-family: $titles;
         font-size: $sub2;

         &--shape {
            position: absolute;
            z-index: -1;
            top: -10px;
            left:-8px;
         }
         span {
            z-index: 2;
         }
     }
     &__category {
        text-transform: capitalize;
     }
     > p {
         line-height: 1.5;
     }
 }

@media screen and (min-width:425px) {
    .card {
        width: 90%;
        margin: 0 auto 2.5em;
    }
}

@media screen and (min-width:525px) {
    .card {
        width: 80%;
    }
}

@media screen and (min-width:625px) {
    .card {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    .card {
        display: inline-block;
        width: 45%;
        vertical-align: top;

        &:nth-child(even) {
            margin-right: 5%;
        }
        //
        // &:nth-child(4) {
        //     margin-left: 27.5%;
        // }

        &__figure {
            height: 14.5em;
        }
    }
}

@media screen and (min-width: 868px) {
    .card {
        display: inline-block;
        width: 40%;
        vertical-align: top;

        &:nth-child(even) {
            margin-right: 8%;
            margin-left: 6%;
        }

        // &:nth-child(4) {
        //     margin-left: 30%;
        // }

        &__figure {
            height: 14.5em;
        }
    }

    #places {
        > .card {
            width: 45%;

            &:nth-child(even) {
                margin-right: 5%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (min-width: 981px) {
    .card {
        width: 30%;

        &:nth-child(even) {
            margin-right: 0%;
            margin-left: 0%;
        }

        &:nth-child(odd) {
            margin: 0 4% 2.5em;
        }

        &:nth-child(4) {
            margin-left: 0%;
        }

        &__figure {
            height: 12em;
        }
    }
    #places {
        > .card {
            width: 42%;

            &:nth-child(even) {
                margin-right: 5%;
                margin-left: 0;
            }
        }
    }
}

@media screen and (min-width:1124px) {
    .card {
        width: 27%;
        &:nth-child(odd) {
            margin: 0 7% 2.5em;
        }
    }

    #places {
        width: 90%;
        margin: 0 auto;
        > .card {
            width: 27%;

            &:nth-child(even) {
                margin-right: 5%;
                margin-left: 0;
            }
        }
        .card.parking {
            display: inline-block;
            width: 30%;
            margin-left: 0;
            margin-right: 0;

            &:nth-child(3n+2) {
                margin-left: 3%;
                margin-right: 3%;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    #places {
        width: 80%;
        margin: 0 auto;

        .card.parking {
            display: inline-block;
            width: 30%;
            margin-left: 0;
            margin-right: 0;

            &:nth-child(3n+2) {
                margin-left: 3%;
                margin-right: 3%;
            }
        }
    }
}

@media screen and (min-width:1640px) {
    .card {
        &:nth-child(2) {
            margin-left: 2.5%;
        }
        &__figure {
            height: 14em;
        }
    }

    #places {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1840px) {
    #places {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 2000px) {
    #places {
        margin: 0 auto;

        .card.parking {
            display: inline-block;
            width: 45%;
            margin-left: 0;
            margin-right: 0;

            &:nth-child(even) {
                margin-left: 5%;
            }
        }
    }
}

@media screen and (min-width:2560px) {
    .card {
        &__figure {
            height: 15em;
        }
    }

    #places {
        width: 39%;
        margin: 0 auto;
    }
}
