/* Saint Léon'Art
 *
 * /sass/components/categories.scss - styles for the shape of the title
 *
 * coded by Anne
 * started at 22/10/2017
 */

.photographie {
    fill: #FF6700;
}

.arts-de-rue {
    fill :#A9FBD7;
}

.arts-visuels {
    fill: #465881;
}

.collages {
    fill: #C04ABC;
}

.design-mode {
    fill: #419D78;
}

.dessin {
    fill: #30C5FF;
}

.ecorecup {
    fill: #F79256;
}

.graphisme {
    fill: #834299;
}

.gravure {
    fill: #EA2B1F;
}

.illustration {
    fill: #D2CF16;
}

.installation {
    fill: #65094B;
}

.musique {
    fill: #DD4D68;
}

.peinture {
    fill: #B8C0EF;
}

.scenographie {
    fill: #4DC155;
}

.sculpture {
    fill: #FFB4D7;
}

.serigraphie {
    fill: #4934DB;
}

.theatre {
    fill: #C4ABAE;
}

.lieu {
    fill: $lightColor;
}
