/* Saint Léon'Art
 *
 * /sass/components/coordonnees.scss - styles to display informations
 *
 * coded by Anne
 * started at 25/10/2017
 */

.coordonnees {
     &__item {
         cursor: pointer;
         margin-bottom: 1.2em;
         transition: text-decoration .3s ease;

         a {
             text-decoration: none;
             color: $textColor;
         }
         &::before {
             content: "";
             width: 24px;
             height: 24px;
             display: inline-block;
             vertical-align: middle;
             margin-right: 4%;
         }
     }
     &__item:hover {
         text-decoration: underline;
     }
     &__item.email::before {
         background: url('../assets/images/bubbles.svg') center no-repeat;
         background-size: contain;
     }
     &__item.nom::before {
         background: url('../assets/images/bubbles.svg') center no-repeat;
         background-size: contain;
     }
     &__item.facebook::before {
         background: url('../assets/images/facebook.svg');
         background-size: contain;
     }
     &__item.telephone::before {
         background: url('../assets/images/telephone.svg');
         background-size: contain;
     }
     &__item.site::before {
         background: url('../assets/images/screen.svg');
         background-size: contain;
     }
     &__item.adresse::before {
         background: url('../assets/images/envelope.svg');
         background-size: contain;
     }
 }

 @media screen and (min-width: 868px) {
     .coordonnees {
        width: 65%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 981px) {
     .coordonnees {
        width: 60%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 1024px) {
     .coordonnees {
        width: 55%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 1224px) {
     .coordonnees {
        width: 45%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 1440px) {
     .coordonnees {
        width: 40%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 1640px) {
     .coordonnees {
        width: 35%;
        margin: 0 auto;
     }
 }

 @media screen and (min-width: 2000px) {
     .coordonnees {
        max-width: 30%;
        margin: 0 auto;
     }
 }
