/* Saint Léon'Art
 *
 * /sass/components/files.scss - styles for files section
 *
 * coded by Anne
 * started at 24/10/2017
 */

.files {

    &__single {
        cursor: pointer;
        display: inline-block;
        width: 45%;

        &--link {
            text-decoration: none;
            color: $textColor;
        }
        &--logo {
            width: 100%;
            height: auto;
        }
        &--name {
            text-align: center;
        }
    }
    &__single:nth-child(odd) {
        margin-right: 8%;
    }
}
