/* Saint Léon'Art
 *
 * /sass/components/files.scss - styles for files section
 *
 * coded by Anne
 * started at 24/10/2017
 */

.files {

    &__single {
        cursor: pointer;
        display: inline-block;
        width: 45%;
        margin-bottom: 1.5em;

        &--link {
            text-decoration: none;
            color: $textColor;
        }
        &--logo {
            width: 100%;
            height: auto;
        }
        &--name {
            display: block;
            text-align: center;
        }
    }
    &__single:nth-child(odd) {
        margin-right: 8%;
    }
}

@media screen and (min-width:625px) {
    .files {
        &__single {
            width: 30%;
        }
        &__single:nth-child(odd) {
            margin-right: 0%;
        }
        &__single:nth-child(3n+2) {
            margin-right: 4%;
            margin-left: 4%;
        }
    }

}

@media screen and (min-width:981px) {
    .files {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .files {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1124px) {
    .files {
        margin: 0 auto;
    }
}

@media screen and (min-width:1440px) {
    .files {
        &__single {
            &--logo {
                width: 80%;
                margin:  auto;
            }
            &--name {
                text-align: center;
            }
        }

    }
}

@media screen and (min-width:1640px) {
    .files {
        &__single {
            width: 20%;
            vertical-align: top;
            &--logo {
                width: 80%;
                margin:  auto;
            }
        }
        &__single:nth-child(2n+2) {
            margin-right: 4%;
            margin-left: 4%;
        }

    }
}
