/* Saint Léon'Art
 *
 * /sass/components/footer.scss - styles for footer
 *
 * coded by Anne
 * started at 22/10/2017
 */

 .footer {
     color: white;
     padding: 1.5em 6.25%;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;

     &__section {
         margin-bottom: 3em;

         &--title {
             font-family: $titles;
             font-size: $sub2;
             text-align: center;
             margin-bottom: .7em;
         }
         &--text {
             text-align: center;
         }
     }
     &__menu {
         &--link {
             width: 59.37%;
             margin: 0 auto .6em;
             text-decoration: none;
             color: white;
             font-size: $sub3;
             display: block;
             text-align: center;
             background: rgba($middleColor, .2);
             padding: .7em 0;
         }
     }
     &-socials {
         &__list {
             width: 70%;
             margin: 0 auto;
             div {
                 display: inline-block;
                 width: 30%;
                 text-align: center;
             }
             &--facebook {
                 a {
                    text-indent: -99999px;
                    background: url('../assets/images/facebook-white.svg');
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                 }
             }
             &--twitter {
                 a {
                    text-indent: -99999px;
                    background: url('../assets/images/twitter-white.svg');
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                 }
             }
             &--instagram {
                 a {
                    text-indent: -99999px;
                    background: url('../assets/images/instagram-white.svg');
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                 }
             }
         }
     }
 }

 @media screen and (min-width: 625px) {
     .footer {
         &__menu {
            width: 70%;
            margin: 0 auto;
         }
     }
 }

 @media screen and (min-width:768px) {
     .footer {
         &-socials {
             &__list {
                 width: 60%;
             }
         }
     }
 }

 @media screen and (min-width: 868px) {
     .footer {
         &__menu {
            width: 60%;
            margin: 0 auto;
         }
     }
 }

 @media screen and (min-width: 981px) {
     .footer {
         &__menu {
            width: 70%;

            &--link {
                display: inline-block;
                width: 30%;

                &:nth-child(2) {
                    margin-left: 3%;
                    margin-right: 3%;
                }
            }
         }
     }
 }

 @media screen and (min-width:1024px) {
     .footer {
       flex-direction: row;
       padding-top: 3em;
       padding-bottom: 0;

       &__section {
         width: 45%;
       }

       &__menu {
           width: 100%;
       }
     }
 }

 @media screen and (min-width:1440px) {
     .footer {
         &__section {
             width: 25%;
         }
         &__menu {
             display: -webkit-flex;
             display: -ms-flex;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;

             &--link {
                 width: 100%;
             }
         }
     }
 }

 @media screen and (min-width:1840px) {
     .footer {
         &__menu {
            width: 80%;
         }
     }
 }

 @media screen and (min-width:2000px) {
     .footer {
         &__menu {
            max-width: 80%;
         }
     }
 }
