/* Saint Léon'Art
 *
 * /sass/components/lieu.scss - styles for page which shows a place
 *
 * coded by Anne
 * started at 25/10/2017
 */

 .lieu {
     &__name {
         position: relative;
         font-family: $titles;
         font-size: $title;
         margin-bottom: .6em;
         &--shape {
             position: absolute;
             top: -20px;
             left: -10px;
             z-index: -1;
         }
     }
     &-intro {
         display: -webkit-flex;
         display: -ms-flex;
         display: flex;
         flex-direction: column;
     }
     &__link {
         margin-bottom: 1em;
         img {
             width: 100%;
         }
     }
 }

 @media screen and (min-width: 981px) {
     .lieu {
         &-intro {
             flex-direction: row;
             justify-content: space-between;
             align-items: flex-start;

             >.section__text {
                 width: 50%;
             }
         }
         &__link {
             width: 45%;
             margin: 0;
         }

     }
 }
