/* Saint Léon'Art
 *
 * /sass/components/members.scss - styles for members on about page
 *
 * coded by Anne
 * started at 23/10/2017
 */

.member {
    margin: 2em 0;
    &__figure {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto .5em;
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__name {
        font-family: $titles;
        font-size: $sub2;
        text-align: center;
        margin-bottom: .4em;
    }
    &__job {
        text-align: center;
        text-transform: capitalize;
    }
}

.members-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .members-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .member {
    width: 45%;
    margin-right: 5%;
  }
}

@media screen and (min-width: 1024px) {
  .member {
    width: 30%;
    margin-right: 3%;
  }
}
