.news {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .news {
        width: 80%;
        margin: 0 auto 2em;
    }
}

@media screen and (min-width:981px) {
    .news {
        display: inline-block;
        width: 30%;
        vertical-align: top;

        &:nth-child(3) {
            margin-right: 4%;
            margin-left: 4%;
        }

        &__title {
            width: 71%;
        }
    }

    .actus {
        > article.news {
            margin-right: 2.9%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .actus {
        > article.news {
            margin-right: 2.9%;
        }
    }
}

@media screen and (min-width: 1124px) {
    .actus {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1124px) {
    .actus {
        width: 80%;
    }
}

@media screen and (min-width: 1440px) {
    .actus {
        width: 75%;
        > article.news {
            margin-right: 2.9%;
        }
    }
}

@media screen and (min-width: 1640px) {
    .actus {
        width: 60%;

    }
}

@media screen and (min-width: 1840px) {
    .actus {
        width: 50%;

    }
}
