/* Saint Léon'Art
 *
 * /sass/components/program.scss - styles for program items
 *
 * coded by Anne
 * started at 21/10/2017
 */

 .program {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   flex-direction: column;

   &-day {
     width: 100%;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     flex-direction: column;
     margin-bottom: 3em;

     &:nth-child(1) .program-day__title {
       background: #FED178;
       &:before {
         background: rgba(134, 28, 72, 0.5);
       }
     }
     &:nth-child(2) .program-day__title {
       background: #D83C2B;
       &:before {
         background: rgba(254, 209, 120, 0.5);
       }
     }
     &:nth-child(3) .program-day__title {
       background: #861C48;
       &:before {
         background: rgba(216, 60, 43, 0.5);
       }
     }
     &__title {
       width: 100%;
       text-align: center;
       padding: 1.3em 0;
       font-size: 1.272em;
       font-family: "Oswald", "arial", "sans-serif";
       color: white;
       position: relative;
       overflow: hidden;

       &:before {
         content: "";
         position: absolute;
         overflow: hidden;
         width: 100%;
         height: 160%;
         top: 50%;
         left: 50%;
         -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
         -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
         -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
         transform: translateX(-50%) translateY(-50%) rotate(45deg);
       }

       span {
         z-index: 3;
         position: absolute;
         width: 100%;
         left: 0;
         top: 0;
         padding: .8em;
       }
     }
     &__item {
       display: -webkit-flex;
       display: -ms-flex;
       display: flex;
       flex-direction: row;
       padding: 1em 0;
     }
     &__hours {
         width: 35%;
         padding-left: 2%;
         color: grey;
     }
     &__name {
         width: 65%;
     }
   }
 }


 @media screen and (min-width: 981px) {
   .program {
     flex-direction: row;
   }
   .program-container {
     width: 80%;
   }
 }

 @media screen and (min-width: 1440px) {
   .program-container {
     width: 60%;
   }
 }

 @media screen and (min-width: 1840px) {
   .program-container {
     width: 55%;
   }
 }

 @media screen and (min-width: 2000px) {
   .program-container {
     width: 50%;
   }
 }

 @media screen and (min-width: 2200px) {
   .program-container {
     width: 45%;
   }
 }

 @media screen and (min-width: 2560px) {
   .program-container {
     max-width: 40%;
   }
 }
