/* Saint Léon'Art
 *
 * /sass/components/section.scss - styles for sections
 *
 * coded by Anne
 * started at 20/10/2017
 */

.section {
    width: 87.5%;
    margin: 2.81em auto;
    &__title {
        font-family: $titles;
        text-align: center;
        margin-bottom: .5em;
        font-size: $title;
    }
    &__text {
        line-height: 1.5;
    }
    &-image {
        position: relative;
        &__figure {
            background: $darkColor;
            width: 100%;
            max-height: 14em;
            overflow: hidden;
        }
        &__image {
            width: 110%;
            height: auto;
            opacity: 0.5;
        }
        &__content {
            color: white;
            width: 87.5%;
            position: absolute;
            top: 1.5em;
            left: 6.25%;
        }
    }
    &-light {
        background: #F9F9F9;
        padding: 2.5em 6.25%;
    }
}
