/* Saint Léon'Art
 *
 * /sass/components/socials.scss - styles for social icons
 *
 * coded by Anne
 * started at 22/10/2017
 */

 .socials {
     &__list {
         width: 90%;
         margin: 0 auto;

         &--facebook {
             a {
                text-indent: -99999px;
                background: url('../assets/images/facebook.svg');
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: contain;
             }
         }
         &--twitter {
             a {
                text-indent: -99999px;
                background: url('../assets/images/twitter.svg');
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: contain;
             }
         }
         &--instagram {
             a {
                text-indent: -99999px;
                background: url('../assets/images/instagram.svg');
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: contain;
             }
         }
     }
 }

 .socials-container {
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 2em auto;
 }

 @media screen and (min-width: 768px) {
   .socials{
       &__list {
         width: 70%;
     }
   }
 }

 @media screen and (min-width: 981px) {
   .socials{
       &-container {
         width: 70%;
     }
   }
 }

 @media screen and (min-width: 1440px) {
   .socials{
       &-container {
         width: 60%;
     }
   }
 }

 @media screen and (min-width: 1840px) {
   .socials{
       &-container {
         width: 50%;
     }
   }
 }

 @media screen and (min-width: 2200px) {
   .socials{
       &-container {
         max-width: 40%;
     }
   }
 }
