/* Saint Léon'Art
 *
 * /sass/components/timeline.scss - styles for timeline section with numbers
 *
 * coded by Anne
 * started at 24/10/2017
 */

 .timeline {
     position: relative;
     display: -webkit-flex;
     display: -ms-flex;
     display: flex;
     flex-direction: row;
     &__dates {
        font-size: $sub3;
        width: 20%;
        text-align: right;
        z-index: 2;
        margin-top: 1em;

        &--edition {
            margin-bottom: 1.5em;
            position: relative;

            &:after {
                content:"";
                width: 20.352px;
                height: 20.352px;
                display: inline-block;
                border: 2px solid $darkColor;
                background: $darkColor;
                border-radius: 100%;
                margin-left: 15%;
                position: absolute;
                transition: background .3s ease;
            }
        }
        &--edition:hover, &--edition.active {
            &:after {
                background: $lightColor;
            }
        }
     }
     &__line {
        width: 5px;
        min-height: 30em;
        background: $darkColor;
        position: absolute;
        top: 0;
        left: 25.7%;
        z-index: -1;
     }
     &__infos {
         display: -webkit-flex;
         display: -ms-flex;
         display: flex;
         flex-direction: column;
        width: 68%;
        position: absolute;
        right: 0;
        top: 0;
     }
     &__single {
         background: white;
         text-align: center;
         margin-bottom: 1.5em;
         z-index: -1;
         &--image {
            display: block;
            width: 50px;
            height: auto;
            margin: 0em auto 1em;
         }
         &--number {
            display: block;
            font-family: $titles;
            font-size: $title;
            margin-bottom: .3em;
         }
         &--text {
            display: block;
            line-height: 1.5;
         }
     }
 }

 @media screen and (min-width: 625px) {
     .timeline {
         &__dates {
             &--edition {
                 &:after {
                     margin-left: 20%;
                 }
             }
         }
     }
 }

  @media screen and (min-width: 768px) {
      .timeline {
          width: 90%;
          margin: 0 auto;

          &__dates {
              &--edition {
                  &:after {
                      margin-left: 21%;
                  }
              }
          }
      }
  }

  @media screen and (min-width: 981px) {
      .timeline {
        flex-direction: column;
        width: 100%;

        &__dates {
          width: 30%;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-left: 5%;

          &--edition:after {
            top: 1.2em;
            left: 5%;
          }
        }
        &__line {
          height: 5px;
          min-height: 0;
          width: 100%;
          left: 0;
          top: 2.6em;
        }
        &__infos {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          left: 0;
          top: 6em;
        }
        &__single {
          width: 30%;
        }


      }
  }

  @media screen and (min-width:1440px) {
      .timeline {
          width: 90%;
      }
  }

  @media screen and (min-width:2000px) {
      .timeline {
          width: 80%;
      }
  }

  @media screen and (min-width:2560px) {
      .timeline {
          max-width: 75%;
      }
  }
