 /* Saint Léon'Art
  *
  * /sass/settings/colors.scss - Color variables
  *
  * coded by Anne
  * started at 18/10/2017
  */


$textColor: #222;

$lightColor: #FED178;
$middleColor: #D83C2B;
$darkColor: #861C48;

$bg: #F9F9F9;
